div.first-block input[type=radio] {
    margin:10px;
}

div.first-block input[type=radio] + label {
    filter     : none;
    background : linear-gradient(to bottom, #ffffff, #cccccc);
    background : -webkit-gradient( linear, left top, left bottom, from(#fff), color-stop(50%, #f9f9f9), to(#ccc));
    font-size: 10pt;
    width: 120px;
    height: 34px;
    line-height: 16px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    font-family: 'Meiryo';
    font-weight: 500;
    float:left;
    white-space: pre-line;
}
div.first-block #L2Fzc2V0L2F0dHJpYnV0ZVtpZD0nbGVnYWxfc3RydWN0dXJlJ10Self Employed or Sole Trader:checked + label{
    filter     : none;
    background : linear-gradient(to bottom, #13213b, #0088ce);
    background : -webkit-gradient( linear, left top, left bottom, from(#13213b), color-stop(0.5,#3366cc), to(#0088ce));
    border: 2px solid #333;
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    font-family: 'Meiryo';
    font-size: 14pt;
    font-weight: 700;
}
div.first-block #L2Fzc2V0L2F0dHJpYnV0ZVtpZD0nbGVnYWxfc3RydWN0dXJlJ10Limited Offer:checked + label{
     filter     : none;
    background : linear-gradient(to bottom, #13213b, #0088ce);
    background : -webkit-gradient( linear, left top, left bottom, from(#13213b), color-stop(0.5,#3366cc), to(#0088ce));
    border: 2px solid #333;
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    font-family: 'Meiryo';
    font-size: 14pt;
    font-weight: 700;
}


div.first-block .pf-attribute-field-input {
	display: block;
}
div.first-block .pf-attribute-radio{
	display: inline-block;
	vertical-align: top;
}
div.first-block .pf-attribute-field-input input[type="radio"] {
    margin: 20px 10px 10px 0;
    float: left;
}



div.business .pf-section-title {
    font-size: 16pt;
    font-weight: 600;
    padding: 12px;
}
div.business .pf-question-section .pf-section-body {
    display: block;
    border: 0;
}
div.business .pf-question, .pf-question-with-details, .pf-question-with-subsection, .pf-question-subsection {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
}
div.business .pf-question .pf-input-label, .pf-question .pf-input-field, .pf-question-with-details .pf-input-label, .pf-question-with-details .pf-input-field, .pf-question-with-subsection .pf-input-label, .pf-question-with-subsection .pf-input-field {
    display: block;
    padding: 10px;
    width: 33%;
    float: left;
    font-size: 12pt;
}
div.business .pf-details {
    clear: both;
    float: left;
    width: 100%;
}
div.business .pf-attribute-field-prefix {
	min-width: inherit;
    text-align: left;
    display: inline-block;
    position: relative;
    top: 31px;
    left: 10px;
}
div.business .pf-attribute-field-input{
	display: block;
}
div.business input[type="text"]{
    width: 100% !important;
    box-sizing: border-box;
    height: 40px;
    margin:0;
}
div.business select{
    height: 40px;
    line-height: inherit;
    width: 100% !important;
    box-sizing: border-box;
    margin:0;
}
div.business .pf-attribute-field-suffix {
    display: none;
}
div.business .pf-input-error, .pf-error-field {
    display: block;
    color: #f00;
    padding: 5px 0 0;
    font-size: 10pt;
}
div.first-block .pf-input-error, .pf-error-field {
    display: block;
    color: #f00;
    padding: 5px 0 0;
    font-size: 10pt;
}

div.first-block .pf-question .pf-input-label, .pf-question .pf-input-field, .pf-question-with-details .pf-input-label, .pf-question-with-details .pf-input-field, .pf-question-with-subsection .pf-input-label, .pf-question-with-subsection .pf-input-field {
    display: block;
    padding: 10px;
    width: 33%;
    float: left;
    font-size: 12pt;
}

div.business .pf-question-section div.business .pf-section-body {
    display: block;
    border: 0;
}

.pf-page-title{
	font-size: 18pt;
    font-weight: 700;
    padding: 12px;
}

div.business .margin-left{
	margin-left: 27px;
}















